<div class="content-wrapper">
  <h1>CODE SAMPLES</h1>
  <mat-expansion-panel hideToggle *ngFor="let title of links">
    <mat-expansion-panel-header>
      <mat-panel-title class="white"> {{ title.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel hideToggle *ngFor="let link of title.items">
      <mat-expansion-panel-header>
        <mat-panel-title class="white"> {{ link.title }} </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>
