<div class="content-wrapper">
  <h1>CODE SAMPLES</h1>
  <mat-expansion-panel hideToggle *ngFor="let title of links">
    <mat-expansion-panel-header>
      <mat-panel-title class="white">
        {{ title.chapterTitle }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel hideToggle *ngFor="let item of title.items">
      <mat-expansion-panel-header>
        <mat-panel-title class="white"> {{ item.title }} </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let link of item.links">
          <a [routerLink]="link.adress">{{ link.description }}</a>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>
